@page
@model WorkoutLibraryAndTracker.Pages.WorkoutLogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutLog[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutLog[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutLog[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutLog[0].Workout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkoutLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.WorkoutId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkoutLogId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WorkoutLogId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkoutLogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
